node_modules
__pycache__
.env
.git
*.pyc
dist
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.nyc_output
.vscode
.idea
*.log
*.tmp
*.temp
build
.cache
.next
.nuxt
.cache
.yarn
.pnp.*